.center {
	text-align: center;
}

.maincontainer {
	margin-top:5%;
}

.summaryCont {
	 height: 500px;
}

.node text {
  font: 8px helvetica;
}

.footerBox {
    text-align: center;
    margin: 40px 0 50px;
    color: #4D6879;
    font-size: 16px;
}

table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
  width:400px;
}
 
tr:nth-child(even) {
  background: #d4d4d4;
}

th, td {
  text-align: center;
  padding: 10px 30px;
}

th {
  text-align: center !important;
  border-bottom: 1px solid #d4d4d4;
  background-color: #d4ffd4;
} 

.bar-sent {
  fill: #d62728;
}

.bar-rec {
  fill: #2ca02c;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#api-controls {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  margin-top: 8px;
  margin-bottom: 2px;
  border: 1px solid gray;
  border-radius: 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-left: 45px;
  width: 100%;
  font-size: 10pt;
  font-weight: bold;
  background-color: #fdfdfd;
}

#api-controls .api {
  margin: -3px;
  padding: 8px;
  border-radius: 5px;
  min-width: 100px;
  cursor: hand;
  text-align: center;
}

#api-controls .api:hover {
  border: 1px solid black;
  margin: -4px;
  background-color: white;
}

#api-controls .api.selected {
  border: 2px solid black;
  margin: -5px;
  background-color: #fddf24;
  fill-opacity: 0.5;
}

.helpbtn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    moz-user-select: none;
    ms-touch-action: manipulation;
    ms-user-select: none;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    webkit-user-select: none;
    white-space: nowrap;
	background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
