.center {
	text-align: center;
}

.maincontainer {
	margin-top:5%;
}

.summaryCont {
	 height: 500px;
}

.node text {
  font: 8px helvetica;
}

.footerBox {
    text-align: center;
    margin: 40px 0 50px;
    color: #4D6879;
    font-size: 16px;
}

table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
  width:400px;
}
 
tr:nth-child(even) {
  background: #d4d4d4;
}

th, td {
  text-align: center;
  padding: 10px 30px;
}

th {
  text-align: center !important;
  border-bottom: 1px solid #d4d4d4;
  background-color: #d4ffd4;
} 

.bar-sent {
  fill: #d62728;
}

.bar-rec {
  fill: #2ca02c;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

