html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.demoContainer {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.demoSectionWrapepr {
    display: inline-block;
    width: 98%;
}

.demoResponseList {
    background-color: lightgrey;
    margin: 0;
    padding-right: 5px;
    overflow-y: scroll;
    height: calc(100% - 3px * 2 * 12);
}

.demoResponseList li {
    list-style-type: decimal;
    padding: 3px 0;
    word-wrap: break-word;
}

.demoResponseList li + li {
    border-top: 1px solid black; 
}

.center {
	text-align: center;
}

.summaryCont {
	 height: 500px;
}

.footerBox {
    text-align: center;
    margin: 40px 0 50px;
    color: #4D6879;
    font-size: 16px;
}

table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
  width:400px;
}
 
tr:nth-child(even) {
  background: #d4d4d4;
}

th, td {
  text-align: center;
  padding: 10px 30px;
}

th {
  text-align: center !important;
  border-bottom: 1px solid #d4d4d4;
  background-color: #d4ffd4;
} 

